<div class="siteWrapper" id="top">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#top">Home</a>
    <a href="#about">About</a>
    <a href="#speakers">Speakers</a>
    <a href="#sponsors">Sponsors</a>
    <a href="#contact">Contact Us</a>
  </div>

  <a href="javascript:void(0)" onclick="openNav()">
    <i class="fas fa-bars toggleNav"></i>
  </a>
  <div class="bg-tree-container">
    <img class="bg-tree fade" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-mini.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree" src="/images/bgTree/tree-logo.svg" draggable="false" />
    <img class="bg-tree fade" src="/images/bgTree/tree-logo.svg" draggable="false" />
  </div>
  <header id="main">
    <div class="logo">
      <img src="/images/logo.png" alt="Flourish! 2019">
    </div>
    <h2>Friday, April 12th - Sunday, April 14th, 2019</h2>
    <p class="countdown"></p>
    <p>Interested in sponsoring or attending?</p>
    <a href="mailto:event@flourishconf.com target=" _blank "" class="button">Contact Us</a>
  </header>
  <section id="about">
    <h1>What is Flourish?</h1>
    <article>
      <header>
        <h2>The Philosophy</h2>
      </header>
      <p>
        Flourish! celebrates the open source philosophy that software source code should be free to use and modify, easily shared,
        and available to anyone. This has allowed for the creation of invaluable software such as the Linux kernel, the Firefox
        web browser, Wikipedia, and the Apache web server, enabling the modern connected world as we experience it today.
      </p>
    </article>
    <article>
      <header>
        <h2>The Conference</h2>
      </header>
      <p>
        First held in 2006 at the University of Illinois at Chicago (UIC), Flourish! is a student-organized conference dedicated
        to promoting the use and development of open source software. The conference is organized by UIC’s student chapters
        of the Association of Computing Machinery (ACM), Linux User Group (LUG), and Women in Computer Science (WiCS). We
        pride ourselves in providing a venue for the open source community to share their experiences in the software development
        industry and celebrate the use of open source technologies.
      </p>
    </article>
    <article>
      <header>
        <h2>The Hackathon</h2>
      </header>
      <p>
        Flourish! 2019, for the first time, will feature a hackathon concurrently with the conference. Teams of student participants
        will compete in a variety of community-suggested categories to produce prototypes solving real-world problems, while
        demonstrating the power of open-source code and collaboration.
      </p>
    </article>
  </section>
  <section id="speakers">
    <h1>Past Speakers</h1>
    <div></div>
  </section>
  <section id="sponsors">
    <h1>Past Sponsors</h1>
    <div></div>
  </section>
  <footer id="contact">
    <section id="organizers">
      <h1>Organized By</h1>
      <a href="//acm.cs.uic.edu" target="_blank">
        <img src="/images/organizers/acm.png" alt="Association for Computing Machinery">
      </a>
      <a href="//lug.cs.uic.edu" target="_blank">
        <img src="/images/organizers/lug.png" alt="Linux Users Group">
      </a>
      <a href="//wics.cs.uic.edu" target="_blank">
        <img src="/images/organizers/wics.png" alt="Women in Computer Science">
      </a>
    </section>
    <section id="social">
      <a href="mailto:event@flourishconf.com" class="button" target="_blank">
        <i class="fa fa-envelope"></i>event@flourishconf.com</a>
      <a href="//www.facebook.com/flourishconf" class="button" target="_blank">
        <i class="fab fa-facebook"></i>Facebook</a>
      <a href="//plus.google.com/+flourishconf" class="button" target="_blank">
        <i class="fab fa-google-plus-g"></i>Google +</a>
      <a href="//twitter.com/flourishconf" class="button" target="_blank">
        <i class="fab fa-twitter"></i>Twitter</a>
    </section>
    <p class="copyright">Fork this website on
      <a href="//github.com/FlourishConference/flourish-2019" target="_blank">
        <i class="fab fa-github"></i> github</a> | &copy; Copyright 2018 Linux Users Group
      <br><br>Developed by
      <a href="//github.com/bmiddha" target="_blank">Bharat Middha</a>
    </p>
  </footer>
</div>
<script src="/javascripts/main.js"></script>