<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8F1A95">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144.png" />
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
</head>

<body>
  {{{body}}}
</body>

</html>
