@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
.bg-tree-container {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  z-index: 0; }

.bg-tree {
  position: absolute;
  opacity: 0.15;
  transition: opacity 0.5s;
  user-select: none; }

.fade {
  opacity: 0; }

.bg-tree:nth-child(1) {
  width: 100px;
  transform: rotate(20deg);
  top: 20vh;
  left: 80vw; }

.bg-tree:nth-child(2) {
  width: 120px;
  transform: rotate(40deg);
  top: 30vh;
  left: 20vw; }

.bg-tree:nth-child(3) {
  width: 180px;
  transform: rotate(80deg);
  top: 70vh;
  left: 50vw; }

.bg-tree:nth-child(4) {
  width: 210px;
  transform: rotate(120deg);
  top: 30vh;
  left: 60vw; }

.bg-tree:nth-child(5) {
  width: 220px;
  transform: rotate(220deg);
  top: 60vh;
  left: 30vw; }

.bg-tree:nth-child(6) {
  width: 170px;
  transform: rotate(150deg);
  top: 77vh;
  left: 80vw; }

.bg-tree:nth-child(7) {
  width: 140px;
  transform: rotate(300deg);
  top: 10vh;
  left: 20vw; }

.bg-tree:nth-child(8) {
  width: 160px;
  transform: rotate(600deg);
  top: 20vh;
  left: 50vw; }

.bg-tree:nth-child(9) {
  width: 190px;
  transform: rotate(240deg);
  top: 70vh;
  left: 10vw; }

.bg-tree:nth-child(10) {
  width: 120px;
  transform: rotate(20deg);
  top: 55vh;
  left: 15vw; }

.bg-tree:nth-child(11) {
  width: 150px;
  transform: rotate(40deg);
  top: 35vh;
  left: 25vw; }

.bg-tree:nth-child(12) {
  width: 190px;
  transform: rotate(80deg);
  top: 75vh;
  left: 22vw; }

.bg-tree:nth-child(13) {
  width: 170px;
  transform: rotate(120deg);
  top: 75vh;
  left: 70vw; }

.bg-tree:nth-child(14) {
  width: 200px;
  transform: rotate(220deg);
  top: 17vh;
  left: 65vw; }

.bg-tree:nth-child(15) {
  width: 220px;
  transform: rotate(150deg);
  top: 17vh;
  left: 30vw; }

.bg-tree:nth-child(16) {
  width: 160px;
  transform: rotate(300deg);
  top: 10vh;
  left: 10vw; }

.bg-tree:nth-child(17) {
  width: 130px;
  transform: rotate(600deg);
  top: 35vh;
  left: 5vw; }

.bg-tree:nth-child(18) {
  width: 100px;
  transform: rotate(240deg);
  top: 50vh;
  left: 80vw; }

@media (max-width: 480px) {
  .bg-tree:nth-child(8),
  .bg-tree:nth-child(3),
  .bg-tree:nth-child(5),
  .bg-tree:nth-child(7),
  .bg-tree:nth-child(15),
  .bg-tree:nth-child(13),
  .bg-tree:nth-child(17) {
    display: none; } }

html {
  scroll-behavior: smooth;
  text-align: center;
  font-family: Montserrat, Lato, Helvetica, Arial, sans-serif;
  font-size: 20px; }

html, body {
  margin: 0; }

a {
  text-decoration: none;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  color: #8F1A95; }

a.button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #8F1A95;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px;
  transition: all 0.25s; }
  a.button:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0); }
  a.button i {
    margin: 0 10px; }

.sidenav {
  background: red;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  padding-top: 45px;
  transition: 0.25s; }
  .sidenav a {
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.25s; }
    .sidenav a:hover {
      color: #8F1A95; }
  .sidenav .closebtn {
    position: absolute;
    font-size: 36px;
    top: 0;
    left: 10px; }

.toggleNav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7); }

#main, #contact {
  background: #8F1A95;
  background: -moz-radial-gradient(top, #8F1A95 0%, #39053F 100%);
  background: -webkit-radial-gradient(top, #8F1A95 0%, #39053F 100%);
  background: radial-gradient(to bottom, #8F1A95 0%, #39053F 100%);
  padding-top: 75px;
  padding-bottom: 75px;
  color: #ffffff; }
  #main h1, #main h2, #main h3, #main h4, #main h5, #main h6, #contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
    color: #ffffff; }
  #main .copyright a, #contact .copyright a {
    text-decoration: underline; }

#main {
  transition: margin-left 0.25s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7); }
  #main .logo img {
    max-width: 800px;
    width: 90%; }
  #main p {
    font-size: 30px; }

#contact {
  display: grid;
  grid-template-areas: "organizers" "social"; }
  #contact #social {
    grid-area: "social"; }
  #contact #organizers {
    grid-area: "organizers"; }
  #contact #social, #contact #organizers {
    margin: 10px; }

#organizers img {
  width: auto;
  height: 50px;
  margin: 0 20px; }

#speakers figure, #sponsors figure {
  display: inline-block; }
  #speakers figure figcaption, #sponsors figure figcaption {
    display: inline-block; }

#about article {
  border: #8F1A95 solid;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }
  #about article h2 {
    color: #ffffff;
    background-color: #8F1A95;
    margin: 0;
    padding: 20px 10px; }
  #about article p {
    text-align: left;
    padding: 30px; }

#sponsors {
  padding-bottom: 50px; }
  #sponsors figure {
    padding: 20px; }
    #sponsors figure img {
      height: 50px; }
  #sponsors figure:nth-child(-n+5) img {
    height: 75px; }

.speaker {
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7); }
  .speaker .speakerName {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 15px 10px;
    font-weight: 600; }
  .speaker .speakerTagline {
    color: #ffffff;
    font-weight: 400;
    padding: 0 10px;
    text-align: left;
    font-size: 18px; }
    .speaker .speakerTagline a {
      color: #ffffff;
      font-size: 40px;
      display: block;
      position: absolute;
      bottom: 10px;
      right: 15px; }
  .speaker img {
    height: 300px;
    width: 300px;
    filter: blur(0);
    transition: filter 0.25s; }
  .speaker .speakerDetails {
    position: absolute;
    width: 100%;
    top: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: top 0.25s;
    height: 300px; }
  .speaker:hover .speakerDetails {
    top: 0; }
  .speaker:hover img {
    filter: blur(10px); }

/*# sourceMappingURL=style.css.map */